body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6fa;
    color: #333;
}


.header {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    color: #2563eb;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #444;
}

.nav a:hover {
    color: #2563eb;
}